.side_box {
    height: auto;
    width: auto;
    gap: 10px;
    background-color: #252525;
    transition: margin 1s;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 195px;
    position: fixed;
    top: 60px;
    z-index: 50;
    border-bottom: 3px;
    border-right: 3px;
    border-top: 0;
    border-left: 0;
    border-style: solid;
    border-color:#181818;
    border-bottom-right-radius: 2%;
}

.side_box_hidden {
    margin: 0 0 0 -300px;
    transition: margin 0.4s;
}

.side_box_show {
    margin: 0 0 0 0;
    transition: margin 0.4s;
}

