.side_box {
    height: auto;
    width: auto;
    transition: margin 1s;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    z-index: 50;
    border-bottom-right-radius: 2%;
}

.side_box_hidden {
    margin: 0 0 0 -80px;
    transition: margin 0.4s;
}

.side_box_show {
    margin: 0 0 0 0;
    transition: margin 0.4s;
}

#glyf_hint {
    width: auto;
    height: auto;
    color: #FFE500;
    margin: 10px 16px 0 10px; 
}

