#header_container {
    background-color: #303030;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 51;
}

#profile_container {
    height: 85%;
    width: 25%;
    margin: 0 15px 0 auto;
    display: flex;
    align-items: center;
}
#profile_icon {
    width: 35px;
    height: 35px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 1;
}

#profile_icon_container {
    width: 35px;
    height: 35px;
    margin: 0 0 0 auto;
    position: relative;
    transition: opacity 0.3s;
    opacity: 0.7;
}

#profile_icon_container:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.profile_down {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -8px;
    right: -7px;
    z-index: 1;
    transition: transform 0.5s, opacity 0.4s;
    transform: rotateX(-0.5turn);
    opacity: 0;
}

.profile_down_show {
    transition: transform 0.5s, opacity 0.4s;
    transform: rotateX(0);
    opacity: 0.7;
}

#profile_text {
    color:white;
    margin: 0 0 0 0;
    font-family: fantasy;
}

#circle_btn {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    border: 0;
    opacity: 0.7;
    transition: opacity 0.3s, width 0.1s, height 0.1s, margin 0.1s;
}

#circle_btn:hover {
    transition: opacity 0.3s, width 0.1s, height 0.1s, margin 0.1s;
    opacity: 1;
}


#circle_btn:active {
    width: 16px;
    height: 16px;
    margin: 1px 1px 1px 1px;
    transition: opacity 0.3s, width 0.1s, height 0.1s, margin 0.1s;
    opacity: 1;
}

#contact_btn {
    margin: 0 auto 0 auto;
    width: 160px;
    background-color: #565656;
    color: white;
    border: 0;
}

#menu_group {
    width: 25%;
    height: 85%;
    margin: 0 auto 0 15px;
    display: flex;
    align-items: center;
}

.menu_img {
    height: 35px;
    width: 35px;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.5s;
}

.rotate {
    transform: rotate(-90deg);
    transition: transform 0.5s;
}

.menu_img:hover {
    transition: opacity 0.3s, transform 0.5s;
    opacity: 1;
}

#logo_text {
    color: white;
    font-family: fantasy;
}