#glyf_container {
    max-width: 150px;
    max-height: 66px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    transition: opasity 0.7s;
    opacity: 0.98;
    position: relative;
}

#glyf_container:hover {
    transition: opasity 0.7s;
    opacity: 1;
}


#glyf_img {
    height: 66px;
    width: 66px;
    padding: 9px 10px 9px 10px;
    background-color: #252525;
    opacity: 1;
    z-index: 1;    
}


.glyf_hint {
    width: 134px;
    height: 66px;
    color: #FFE500;
    background-color: #252525;
    border: 1px solid #252525;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 0 0 -134px;
    z-index: 0;
    transition: margin 0.3s;
}

.glyf_hint_show {
    margin: 0 0 0 0;
    transition: margin 0.3s;
}


#glyf_text {
    width: 134px;
    height: 66px; 
    margin: 0 0 0 0;
    display: grid;
    align-items: center;
    font-family: fantasy;
}

