#glyf_container {
    display: flex;
    flex-direction:row;
    align-items: center;
    z-index: 10;
}

#glyf_container:hover {

    transition: opasity 0.7s;
    opacity: 1;
}


#glyf_img {
    height: 55px;
    width: 55px;
    padding: 9px 10px 9px 10px;
    background-color: #252525;
    opacity: 0.98;
}

#glyf_img:hover {
    opacity: 1;
}

