#glyf_container {
    width: 66px;
    height: 66px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    transition: opasity 0.7s;
    opacity: 0.98;
    position: relative;
}

#glyf_container:hover {
    transition: opasity 0.7s;
    opacity: 1;
}

#glyf_img_container {
    height: 66px;
    width: 66px;
    display:flex;
    background-color: #252525;
}

#glyf_img {
    height: auto;
    width: auto;
    padding: 9px 9px 9px 9px;
    opacity: 1;
    z-index: 1;    
    transition: margin 0.4s;

}

#glyf_img:hover {
    margin: 0 0 0 -66px;
    transition: margin 0.4s;
}

#glyf_text {
    width: 134px;
    height: 66px; 
    margin: 0 0 0 0;
    display: grid;
    align-items: center;
    opacity: 1;
}

.slider_hint {
    width: 134px;
    height: 66px;
    color: #FFE500;
    background-color: #252525;
    border: 1px solid #252525;
    border-bottom-right-radius: 8px;
    margin: 0 0 0 -200px;
    z-index: 2;
    transition: margin 0.4s;
}

.slider_show {
    margin: 0 0 0 -66px;
    transition: margin 0.4s;
}

.top_right_border_round {
    border-top-right-radius: 8px;
}

.bottom_right_border_round {
    border-bottom-right-radius: 8px;
}

