#slider_container {
    align-items: center;
    text-align: center;
}

.slider {
    width: 134px;
    height: 66px;
    color: #FFE500;
    background-color: #252525;
    border: 1px solid #252525;
    border-bottom-right-radius: 8px;
    margin: 0 0 0 -80px;
    z-index: 2;
}

.top_right_border_round {
    border-top-right-radius: 8px;
}
